<h1> Edit </h1>

<div class="row">
  <section>
    <%= form_for(@entry) do |f| %>
      <%= f.text_field :name, :value => @entry.name, :rows => 10 %>
      <br />
      <%= f.text_area :description, :value => @entry.description, :rows => 10 %>
      <br />
      Markdown?
      <%= f.check_box :markdown %>
      <br />
      <%= f.submit "Update entry", class: "btn btn-small btn-primary" %>
    <% end %>
  </section>
</div>

