<% provide(:title, @user.name) %>

<div class="row">
  <section>
    <h1>
      <%= @user.name %>
    </h1>

    <p class="lead">
      <%= @user.description %>
      <% if signed_in? and current_user == @user %>
        <div id="desc_form" style="display:none">
          <%= form_for(@user) do |f| %>

            <%= f.label :description %>
            <%= f.text_area :description, :rows => 5 %>

            <%= f.submit "Update", class: "btn btn-large btn-primary" %>
          <% end %>
        </div>
        <a href="#" id="editdesc"> (Edit.) </a>
      <% end %>
    </p>
  </section>

  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Compo Name </th>
          <th> Date </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Stuff </td>
          <td> 8-13-9999 </td>
        </tr>
        <tr>
          <td> Stuff2 </td>
          <td> 8-13-9999 </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
