<% provide(:title, @user.name) %>

<div class="row">
  <section>
    <h1>
      <%= @user.name %>
    </h1>

    <p class="lead">
      <%= @user.description %>
      <% if signed_in? and current_user == @user %>
        <div id="desc_form" style="display:none">
          <%= form_for(@user) do |f| %>

            <%= f.label :description %>
            <%= f.text_area :description, :rows => 5 %>

            <%= f.submit "Update", class: "btn btn-large btn-primary" %>
          <% end %>
        </div>
        <a href="#" id="editdesc"> (Edit.) </a>
      <% end %>
    </p>
  </section>

  <% if @user.jams.count > 0 %>
    <h3> Organized jams: </h3>

    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Compo Name </th>
            <th> Date </th>
          </tr>
        </thead>
        <tbody>
          <% @user.jams.each do |jam| %>
            <tr>
              <td> <%= link_to jam.name, jam %> </td>
              <td> <%= jam.created_at %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>

  <% if @user.jams.count > 0 %>
    <h3> Attended jams: </h3>

    <section>
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Entry Name </th>
            <th> Date </th>
          </tr>
        </thead>
        <tbody>
          <% @user.entries.each do |entry| %>
            <tr>
              <td> <%= link_to entry.name, Jam.find(entry.jam) %> </td>
              <td> <%= entry.created_at %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>

</div>
