<div class="center hero-unit">
  <h1>New Jam.</h1>
</div>

<script>
$(function() {
  $("#datetimepicker1").datetimepicker();
  $("#datetimepicker2").datetimepicker();
});
</script>

<div class="span6 offset3">
  <%= form_for(@jam) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :start %>
    <div id="datetimepicker1" class="input-append date">
      <input type="text" data-format="dd/MM/yyyy hh:mm:ss" name="jam[start]"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>

    <%= f.label :end %>
    <div id="datetimepicker2" class="input-append date">
      <input type="text" data-format="dd/MM/yyyy hh:mm:ss" name="jam[end]"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>

    <%= hidden_field_tag 'jam[organizer_id]', current_user.id %>

    <br/>

    <%= f.submit "New jam!", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
