<% provide(:title, @jam.name) %>

<div class="row">
  <section>
    <h1>
      <%= @jam.name %>
    </h1>

    <p class="lead">
      <%= @jam.description %>
    </p>
  </section>

  <section>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> User </th>
          <th> Title </th>
          <th> Date </th>
        </tr>
      </thead>
      <tbody>
        <% @jam.users.each do |u| %>
          <tr>
            <td> <%= u.name %> </td>
            <td> Herp the Derps. </td>
            <td> 8-13-9999 </td>
          </tr>
          <tr>
            <td colspan="3"> Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp. Derp.   </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>


  <div class="span6 offset4">
    <%= form_for(@entry) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :link %>
      <%= f.text_field :link %>

      <%= hidden_field_tag 'jam', @jam.id %>

      <%= f.hidden @jam.id %>

      <br/>

      <%= f.submit "Submit entry", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
