<div class="center hero-unit">
  <h1>Hour Jam</h1>
</div>

<% if signed_in? %>
  Hey, <%= current_user.name %>. <%= link_to "See your profile.", current_user %>
<% else %>
  <%= link_to "Sign up", "/signup" %>
  <%= link_to "Sign in", "/sessions/new" %>
  <%= link_to "New jam", "/jams/new" %>
<% end %>

<p>
  Recent jams:
</p>

<section>
  <% @jams.each do |jam| %>
    <%= link_to jam.description, jam %>
  <% end %>
</section>