<!DOCTYPE html>
<html>
<head>
  <title>Hour Jam</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <ul class="nav nav-pills">
      <% if signed_in? %>
      <li class="disabled"> <a href="#"> Hey, <%= current_user.name %>! </a> </li>
      <% end %>
      <li> <a href="/"> <i class="icon-home"></i>
        Hour Jams</a> </li>
      <% if signed_in? %>
      <li> <%= link_to "<i class='icon-user'></i>My Profile".html_safe, current_user %> </li>
      <li> <%= link_to "<i class='icon-signout'></i>Sign Out".html_safe, destroy_user_session_url, :method => :delete %> </li>
      <% else %>
        <li> <%= link_to "<i class='icon-check'></i>Sign up".html_safe, new_user_registration_url %> </li>
        <li> <%= link_to "<i class='icon-signin'></i>Sign in".html_safe, new_user_session_url %> </li>
      <% end %>
      <li> <a href="#"><i class='icon-reorder'></i>All Jams</a> </li>
      <li> <a href="/jams/new"><i class='icon-plus'></i>New Jam</a> </li>
    </ul>
  </div>
  <div class="container">
    <% if flash[:alert] %>
      <div class="alert alert-alert"><%= flash[:alert] %></div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
